* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(45, 99, 237, 0.7),rgba(46, 94, 215, 0.1),rgba(122, 149, 218, 0.1)), url(background.png);
    background-size: cover;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;

}

.logo {
    font: 1.3em sans-serif;
}
.t1 {
    color: rgb(22, 7, 105);
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 35px;
    font-size: 25px;
    position: relative;
}

.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid whitesmoke;
    border-radius: 2px;
    transition: 0.4s linear;
}

.menu a:hover:before {
    width: 90%;
}

.register a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
    background: rgba(149, 177, 248, 0.288);
    padding: 15px;
    border-radius: 20px;
    transition: 0.4s;
}

.register a:hover {
    background: transparent;
    border: 1px solid rgba(149, 177, 248, 0.288);    
}

.mid-text {
    max-width: 650px;
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.mid-text span {
    font-size: 45px;
    letter-spacing: 1px;
    color: rgb(243, 99, 15);
}


.mid-text h1 {
    padding-top: 50px;
    font-size: 65px;
    color: rgba(248, 241, 240);
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
    transition: 0.5s;
}

.mid-text :hover{
    letter-spacing: 0.3rem;    
}