* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(45, 99, 237, 0.7),rgba(46, 94, 215, 0.1),rgba(122, 149, 218, 0.1)), url(background.png);
    background-size: cover;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;

}

.logo {
    font: 1.3em sans-serif;
}
.t1 {
    color: rgb(22, 7, 105);
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 1.2em;
}

.register a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
    border: 2px solid rgb(51, 155, 173);
    padding: 12px;
    border-radius: 20px;
}

.mid-text {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.mid-text span {
    font-size: 45px;
    letter-spacing: 1px;
    color: rgb(243, 99, 15);
}


.mid-text h1 {
    padding-top: 50px;
    font-size: 70px;
    color: rgba(130, 221, 69, 0.829);
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    transition: 0.5s;
}

.mid-text :hover{
    letter-spacing: 0.3rem;    
}