* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    background-image: linear-gradient(#32678d,#7fbfec);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.child {
    width: 85%;
    height: 85vh;
    border-radius: 20px;
    background-image: url(loginbg.png);
    background-size: contain;
    background-position: right;
}

.login {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(-10deg, #EAEFF2 54%, transparent 40%);
}

.input {
    width: 50%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.login-box h3 {
    font-size: 50px;
    font-family: 'Fira Mono', monospace;
    font-weight: 900;
    user-select: none;
    margin-bottom: 20px;
    transition: 0.5s;
}

.login-box p {
    font-size: small;
    font-family: 'Fira Mono', monospace;
    font-weight: 900;
    user-select: none;
    margin-bottom: 30px;
    transition: 0.4s;
}

.link {
    text-decoration: none;
    color: #3f83b4;
}

.login-box p:hover {
    transform: translate(0, -2px);
}

.login-box input {
    color: #3f83b4;
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.333);
}

.login-box .login-btn {
    width: 50%;
    font-family: 'Fira Mono', monospace;
    transition: 0.4s;
    margin-left: 110px;
    cursor: pointer;
}

.login-box .login-btn:hover {
    transform: translate(2px, -3px);
}

.error {
    color: rgba(247, 19, 19, 0.874);
    font-size: large;
    margin-top: 20px;
    display: block;
}

.text-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #3f83b4;
}